body {
background: url(background.jpg) center;
width: 95%;
margin: auto;
font-family: 'Lato';
color: rgb(255, 255, 255);
text-align: center;
font-size: medium;
line-height: 1.5;

}

.textoes{
    color:blueviolet;
}
.titulo{
    color: white;
    text-align: center;
}
p{
    text-align: center;
}

.segue{
    text-align: left;
}

.insta,.spotify{
    width: 30;
    height: 30;
    transition: width 2s;
}

.insta:hover,.spotify:hover{    
    width: 50;
}